@import "tailwindcss";


@theme {
  --color-primary: #2683EB;
  --font-radio: "Radio Canada Big", sans-serif;
   --font-serifpro: "Source Serif Pro", serif;
  --font-geist: "Geist Mono"
}



.hamburger-line{
  @apply w-7.5 h-0.5 my-2 block bg-slate-900
}

.hamburger-active > span:nth-child(1){
  @apply rotate-45; 
}

.hamburger-active > span:nth-child(2){
  @apply scale-0; 
}

.hamburger-active > span:nth-child(3){
  @apply -rotate-45; 
}

.navbar-fixed {
  @apply fixed z-50 bg-white/80 backdrop-blur-md;
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1); 
}